@{
    ViewData["Title"] = "Home Page";
}

<div>
    @model.GetGreeting();
    @ViewData["greeting"]
    The time is @ViewData["timeOfDay"] on @ViewData["date"]
    There are @ViewData["daysLeft"] in @ViewData["year"]
</div>
