@{
    ViewData["Title"] = "Home Page";
}

<h2>
    
    <p>@ViewData["greeting"]</p>
    <p>The time is @ViewData["timeOfDay"] on @ViewData["date"]</p>
    <p>@ViewData["daysLeft"] more days until @ViewData["year"]</p>

</h2>
<hr>
<a asp-action="ShowPerson" asp-controller="Home" class="btn btn-info">View People</a>
<a asp-action="AddPerson" asp-controller="Home" class="btn btn-info">Add Person</a>

