@{
    ViewData["Title"] = "Home Page";
}

<h2>
    
    <p>@ViewData["greeting"]</p>
    <p>The time is @ViewData["timeOfDay"] on @ViewData["date"]</p>
    <p>@ViewData["daysLeft"] more days until @ViewData["year"]</p>

</h2>
