@model WebLab4.Models.Person
@{
    ViewData["Title"] = "Delete Person";
}
@if (Model != null)
{
    <h2>@ViewData["DeletePersonHeading"]</h2>
    <hr>
    <body>
        <p>First Name: @Model.FirstName</p>
        <p>Last Name: @Model.LastName</p>
        @if (Model.BirthDate != null)
        {
            <p>Birth Date: @Model.GetBirthday()</p>
            <p>Age: @Model.Age</p>
        }
    </body>
    <form asp-action="DeletePerson" method="post">
       <input type="submit" asp-route-person="@Model" value ="Delete" class="btn btn-info" />
    </form> 
    <a asp-action="Index" asp-controller="People" class="btn btn-info">Cancel</a>
}
else
{
    <h1>Person not found.</h1>
}