@model List<WebLab4.Models.Person>

@{
    ViewData["Title"] = "People";
}

<h2>@ViewData["IndexHeading"]</h2>

<table class="table">
    <tr>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Birth Date</td>
        <td>Age</td>
        <td>Actions</td>
    </tr>
    @foreach (var person in Model)
    {
        <tr>
            <td>@person.FirstName</td>
            <td>@person.LastName</td>
        @if (person.BirthDate != null)
        {
            <td>@person.GetBirthday()</td>
            <td>@person.Age</td>
        }
        else
        {
            <td>Not Inputed</td>
            <td>Not Inputed</td>
        }
            <td><a asp-action="EditPerson" asp-controller="People" asp-route-id="@person.PersonID">Edit</a> |
                <a asp-action="Details" asp-controller="People" asp-route-id="@person.PersonID">Details</a> |
                <a asp-action="DeletePerson" asp-controller="People" asp-route-id="@person.PersonID">Delete</a>
            </td>
        </tr>
    }
</table>
<a asp-action="AddPerson" asp-controller="People" class="btn btn-info">Add Person</a>


