@model WebLab4.Models.Person
@{ 
    ViewData["Title"] = "Person";
}
@if (Model != null)
{
    <h2>@ViewData["ShowPersonHeading"]</h2>
    <hr>
    <body>
        <p>First Name: @Model.FirstName</p>
        <p>Last Name: @Model.LastName</p>
        <p>Birth Date: @Model.GetBirthday()</p>
        <p>Age: @Model.Age</p>
    </body>
}
else
{ 
    <h1>Person not found.</h1>
}
