@model WebLab4.Models.Person
@{
    ViewData["Title"] = "Person";
}
@if (Model != null)
{
    <h2>@Model.FirstName @Model.LastName</h2>
    <hr>
    <body>
        <p>First Name: @Model.FirstName</p>
        <p>Last Name: @Model.LastName</p>
        <p>Birth Date: @Model.GetBirthday()</p>
        <p>Age: @Model.Age</p>
    </body>
    <div>
        <a asp-action="DeletePerson" asp-controller="People" asp-route-person="@Model.PersonID" class="btn btn-info">Delete Person</a>
        <a asp-action="EditPerson" asp-controller="People" asp-route-id="@Model.PersonID" class="btn btn-info">Edit Person</a>
    </div>
}
else
{
    <h1>Person not found.</h1>
}